<header>
  <h2 style="color: blue; margin-top: 100px; text-align: center">{{pageTitle}}!</h2>
  <p style="text-align: center"><a href="/">Home</a></p>
  <p style="text-align: center"><a href="/about">About</a></p>
</header>
