<header>
  <h2 style="color: blue; margin-top: 100px; text-align: center">{{pageTitle}}</h2>
  <p style="text-align: center">
    <a href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/about">About Us</a >&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/projects">Our Portfolio</a>
  </p>
</header>
