<!DOCTYPE hmtl>
<html>
  <head>
    <meta charset="utf-8">
    <title{{pageTitle}}</title>
  </head>
  <body>
    <h2 style="color: red; margin-top: 100px; text-align: center">{{pageTitle}}</h2>
    <p style="text-align: center">{{maintenanceMsg}}</p>
    {{> footer}}
  </body>
</html>